<!DOCTYPE html>
<html style="color; background:rgb(133, 133, 133)">
<head>
<title>SISRSIS</title>
</head>
<body>

<h1><<بسمه تعالی>></h1>
<h3>..خوش آمدید SISRSIS به سایت  ...</h3>
<p style="color: rgb(150, 38, 38);">زبان جاوا ,زبان جنگوا و... مباشد, HTMlزبان, Python شامل زبان برنامه نویسی ,SISRSIS سایت </p>

<input type="color" name="" id="input" class="form-control" value="" required="required" title="">

<div class="jumbotron">
    <h1 class="display-4">Title</h1>
    <p class="lead">Subtitle</p>
    <hr class="my-4">
    <p>Content</p>
<button>SISRSIS</button>

</div>
</body>
</html>
